
body {
    background: conic-gradient(from -2deg at 28.99% 107.28%, #37312A 175.51443457603455deg, #191817 342.4887156486511deg, #191817 360deg);
}



.trending {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.favorite-icon {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1; 
  }

  .favorite-icon img {
    display: inline-flex;
    padding: 8.889px;
    align-items: flex-start;
    gap: 5.926px;
    border-radius: 8.296px;
    border: 0.593px solid #FFF;
    background: linear-gradient(99deg, #FFF 3.36%, rgba(255, 255, 255, 0.00) 238.16%);
    backdrop-filter: blur(5.925926208496094px);
    width: 14.222px;
    height: 14.222px;
  }

   .card {
    padding: 0;
    width: 255px;
    height: 301px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #969696;
    background: white 50% ;
    overflow: hidden;
    margin-right: 13px;
    position: relative;
  }

  .card-container{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 200px;
    flex-wrap: wrap;
    /* margin-top: 300px; */
   
  }
  
  .card-image {
    width: 100%;
    height: 80%;
    background-size: cover;
    margin-bottom: 0;
  }
  
  .card-content {
    margin-top: 0;
    opacity: 0.95;
    background: linear-gradient(100deg, #FFF 12.94%, rgba(255, 255, 255, 0.00) 159.1%);
    backdrop-filter: blur(10px);
    
  }
  
  h3 {
    margin-top: 0;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600; 
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
  }
  
  p {
    margin-top: 0;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
  }
  

  .trend {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  