
 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    margin-right: auto;
    height: 300px;
    margin-left: 273px;
    background-color: black;
    background-image: url('C:\Users\akhiljith r\OneDrive\Desktop\vite-project\src\assets\Rectangle 201.png'); 
    background-size: cover; 
    background-position: center;
    z-index: 2;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main_one {
    display: inline-flex;
    margin-left: 650px;
    margin-right: 216px;
    margin-top: 47px;

  }

  .main_one img {
    margin-right: 20px;
  }

  .main_one span{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .btns {
    border: none;
    background-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
  }

  .btns:hover {
       cursor: pointer;
       text-decoration: underline;
  }

  .buttons {
    display: inline-flex;
    margin-left: 44px;
    margin-top: 47px;
   
  } 


.main_two h1 {
color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
margin-bottom: 0;

  }

  .main_two {
    margin-left: 50px;
    /* margin-top: 80px; */
    margin-right: 967px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }


  .main_two img {
    padding: 15px;
    display: inline-flex;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    width: 24px;
    height: 24px;
    border-radius: 14px;
    border: 1px solid #FFF;
    background: linear-gradient(99deg, #FFF 3.36%, rgba(255, 255, 255, 0.00) 238.16%);
    backdrop-filter: blur(10px);
  }


  .main_two button {
    color: var(--8, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    display: inline-flex;
    padding: 17px 24px;
    border-radius: 14px;
    background: #6100C2;
  }


  .main_two p {
color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
  }

 





  

  
  

  