
 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    margin-right: auto;
    height: 300px;
    margin-left: 273px;
    background-color: black;
    background-image: url(https://s3-alpha-sig.figma.com/img/05b3/f62d/1ed524068bf7052043a0e38fd2ff1d0a?Expires=1699833600&Signature=GjLsKypb~oJpPZ5NDZGwLbPQjT0elQr9dkFhaC0SWh-0zNmYbhLnqY6gp5ZH9Tik1HrKHbGinaFKqCQOSi7Jqn9rMPl54ibN87aBqL8DA-7Pz1b5HtOGgc-r4gi5sPaovXo5vYKgkZ6kc3YoEPqOZwYLUyIPw3aWHL-H-dhzR6Mfb3zE5QqHkDl3wcBPjEf-9CompHGPYpwxsUQC37LVCv7rhX0RYydCEwr7i2rpfHXeMgs81zm09BzflnEgk~Mmp7RFNK2dhKlKlDkx~V0VDlTtQkYLTbd3Znl3lD~z57a3gHwO2pMtzLC04AAMrFJKEgl5~dUHBtto115Xmi72Yg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4); 
    background-size: cover; 
    background-position: center;
    z-index: 2;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main_one {
    display: inline-flex;
    margin-left: 650px;
    margin-right: 216px;
    margin-top: 47px;

  }

  .main_one img {
    margin-right: 20px;
  }

  .main_one span{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .btns {
    border: none;
    background-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
  }

  .btns:hover {
       cursor: pointer;
       text-decoration: underline;
  }

  .buttons {
    display: inline-flex;
    margin-left: 44px;
    margin-top: 47px;
   
  } 


.main_two h1 {
color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
margin-bottom: 0;

  }

  .main_two {
    margin-left: 50px;
    margin-right: 967px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }


  .main_two img {
    padding: 15px;
    display: inline-flex;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    width: 24px;
    height: 24px;
    border-radius: 14px;
    border: 1px solid #FFF;
    background: linear-gradient(99deg, #FFF 3.36%, rgba(255, 255, 255, 0.00) 238.16%);
    backdrop-filter: blur(10px);
  }


  .main_two button {
    color: var(--8, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    display: inline-flex;
    padding: 17px 24px;
    border-radius: 14px;
    background: #6100C2;
  }


  .main_two p {
   color: #FFF;
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
  }

  .main_three {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;

  }

 





  

  
  

  