

.SideNav {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 274px;
    height: 100%; 
    background-color: #21201E; 
    box-shadow: 10px 0px 90px 0px rgba(97, 0, 194, 0.40);
  }


  .sidenav_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background: 0;
    border: 0;
    gap: 12px;

  }

  .sidenav_buttons:hover {
    cursor: pointer;
  }

  .section_one {
     margin-top: 58px;
  }

  .section_two {
    margin-top: 100px;
  }

  .section_three {
    margin-top: 100px ;
    margin-bottom: 10px;
  }

.sidenav_logo {
    display: inline-flex;
    align-items: center;
    margin-top: 44px;
    margin-left: 55px;
    margin-right: 103px;
    height: 32px;
    gap: 5px;
}

.logos {
    width: 32px;
    height: 32px;
}

.heading {
    font-weight: 700;
    font-size: 22px;
    color: white;

}


.logos-one {
    margin-left: 40px;
    align-items: left; 
}


.fonts {
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
opacity: 0.8;
}

.fonts:hover {
  font-weight: bolder;
  color: white;
  opacity: 1;
}

.fonts_main {
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}




